    ---------------------------------------------------------------
                         A P P S T A L   L T D
    ---------------------------------------------------------------

        Hardware      : {{ ansible_system_vendor }} {{ ansible_product_name }}
        Platform      : {{ ansible_distribution }} {{ ansible_distribution_version }}  ({{ ansible_architecture }})
  
    ---------------------------------------------------------------

