[submodule "roles/yumreposd"]
	path = roles/yumreposd
	url = https://github.com/jfautley/ansible-role-yumreposd.git
[submodule "roles/prometheus"]
	path = roles/prometheus
	url = https://github.com/William-Yeh/ansible-prometheus
